name: devops

services:
  db:
    image: public.ecr.aws/docker/library/postgres:16-alpine
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_DB: devopsdb
      POSTGRES_USER: devuser
      POSTGRES_PASSWORD: devpass
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U devuser -d devopsdb || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 12
      start_period: 5s
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./Backend
    container_name: spring-backend
    environment:
      SPRING_PROFILES_ACTIVE: dev
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/devopsdb
      SPRING_DATASOURCE_USERNAME: devuser
      SPRING_DATASOURCE_PASSWORD: devpass
      APP_JWT_SECRET: "uFrd1bQp5p9Hn3e3yM3jH0wH6b9Qh2b/8Qy6rH8cJz3pT2g7C1q9m3t4X6y8a1b2c3d4e5f6g7h8i9j0k1l2m3=="
      APP_JWT_EXPIRATION: "86400000"
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ./Frontend
    container_name: frontend-dev
    depends_on:
      - backend
    ports:
      - "5173:5173"
    environment:
      CHOKIDAR_USEPOLLING: "true"
      WATCHPACK_POLLING: "true"
    volumes:
      - ./Frontend:/app
      - /app/node_modules
    command: ["npm", "run", "dev", "--", "--host"]

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: adminpassword
    ports:
      - "8081:80"
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin

  # ================================
  # Loki (Log Storage)
  # ================================
  loki:
    image: grafana/loki:latest
    container_name: loki
    user: "0"  # run as root เพื่อให้เขียน /loki/chunks ได้
    command: -config.file=/etc/loki/local-config.yaml
    ports:
      - "3100:3100"
    volumes:
      - loki_data:/loki
    restart: always

  # ================================
  # Promtail (Log Collector)
  # ================================
  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    command: -config.file=/etc/promtail/config.yml
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/log:/var/log:ro
      - ./promtail-config.yml:/etc/promtail/config.yml
    depends_on:
      - loki

  # ================================
  # Prometheus (Metrics)
  # ================================
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - backend

  # ================================
  # Grafana (Dashboard)
  # ================================
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: always
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin123
    depends_on:
      - loki
      - prometheus
    volumes:
      - grafana_data:/var/lib/grafana

volumes:
  db_data:
  pgadmin_data:
  loki_data:
  grafana_data:
